{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename="img/post-bg.jpg") }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <span>
                <h1>Please Visit My Portfolio</h1>
                </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
   
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h2>
            <span style="padding-left:45%;"> <a href="http://nikhilnayakbv.pythonanywhere.com/" target="_tab">VISIT</a></span>
        </h2>
            
          </div>
        </div>
      </div>
   

   {% endblock %}